{% extends 'base.html.twig' %}

{% block right_bar_zone %}
    {% include "admin/header.html.twig" %}
{% endblock %}

{% block body %}
    <div class="site-section bg-light">
        <div class="container">
            <div id="div-site-content" class="row">
                <h2>Cateogry Table</h2>
                <p>(<a href="{{ path('create_category') }}">Add</a> a new category)</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{category.name}}</td>
                            <td>{{category.description}}</td>
                            <td><a href="{{ path('delete', {'type': 'c', 'id': category.id}) }}">DEL</a>&nbsp;<a href="{{ path('create_category', {'id': category.id}) }}">MODIFY<a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="site-section bg-light">
        <div class="container">
            <div id="div-site-content" class="row">
                <h2>Tags Table</h2>
                <p>(<a href="#">Add</a> a new tag)</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                        <tr>
                            <td>{{tag.name}}</td>
                            <td>{{tag.description}}</td>
                            <td><a href="{{ path('delete', {'type': 't', 'id': tag.id}) }}">DEL</a>&nbsp;<a href="{{ path('create_tag', {'id': tag.id}) }}">MODIFY<a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


